@import url(https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@400;700&display=swap);

:after,
:root {
    --text-color: #deddda;
    --text-color-dark: #23150d;
    --accent-color: #d3c0a3;
    --secondary-accent-color: #a83d32;
    --border-color: #757259;
    --title-font-size: 20px;
    --title-font-weight: 700;
    --title-font-color: var(--accent-color);
    --title-font-letter-spacing: 0.1rem;
    --title-font-line-height: 1;
    --title-font-smoothing: antialiased;
    --title-font-text-transform: uppercase;
    --sidebar-subtitle-size: 17px;
    --map-link-color: color-mix(in srgb, var(--accent-color), transparent 80%);
    --map-link-color-hover: color-mix(in srgb, var(--accent-color), transparent 70%);
    --map-link-color-selected: color-mix(in srgb, var(--accent-color), transparent 75%);
    --hotkey-background-color: color-mix(in srgb, var(--text-color), transparent 85%);
    --social-icon-background: var(--map-link-color-selected);
    --social-icon-background-hover: var(--map-link-color-hover);
    --search-result-hover-color: hsla(0, 0%, 100%, .05);
    --marker-tooltip-background: var(--sidebar-background-color);
    --marker-tooltip-background-color: var(--sidebar-background-color);
    --popup-background: rgba(0, 0, 0, .99);
    --popup-border-color: color-mix(in srgb, var(--border-color), transparent 50%);
    --popup-button-highlight-color: color-mix(in srgb, var(--sidebar-border-color), transparent 90%);
    --upgrade-button-text-color: var(--accent-color);
    --upgrade-button-border-color: var(--accent-color);
    --upgrade-option-background-color-hover: color-mix(in srgb, var(--text-color), transparent 90%);
    --upgrade-option-background-color-selected: color-mix(in srgb, var(--text-color), transparent 70%);
    --game-card-background-color: color-mix(in srgb, var(--sidebar-border-color), transparent 75%);
    --game-card-title-color: var(--text-color);
    --game-card-title-color-hover: var(--accent-color);
    --series-card-title-background-color-hover: color-mix(in srgb, var(--game-card-background-color), transparent 75%);
    --guide-filter-panel-background-color: color-mix(in srgb, var(--accent-color), transparent 95%);
    --guide-search-input-placeholder-color: color-mix(in srgb, var(--text-color), transparent 50%);
    --guide-subnav-item-color: color-mix(in srgb, var(--text-color), transparent 40%);
    --guide-breadcrumb-color: color-mix(in srgb, var(--text-color), transparent 40%);
    --guide-location-link-background: color-mix(in srgb, var(--text-color), transparent 80%);
    --guide-location-link-background-hover: color-mix(in srgb, var(--text-color), transparent 60%);
    --guide-location-link-background-checked: color-mix(in srgb, var(--text-color), transparent 70%);
    --guide-table-row-hover-background: color-mix(in srgb, var(--text-color), transparent 85%);
    --guide-table-row-target-background: color-mix(in srgb, var(--text-color), transparent 95%);
    --checklist-filter-button-background-color: color-mix(in srgb, var(--sidebar-border-color), transparent 75%);
    --checklist-filter-select-background-color: color-mix(in srgb, var(--sidebar-border-color), transparent 75%)
}

.region-panel .region-link {
    font-size: 12px;
    text-transform: uppercase;
    width: 50%
}

#marker-info {
    a {
        color: var(--accent-color) !important;
        text-decoration: none !important;

        &:hover {
            background-color: color-mix(in srgb, var(--accent-color), transparent 75%)
        }
    }

    .region-name {
        background-color: var(--map-link-color-selected);
        cursor: pointer;
        padding: 2px 6px;

        & :hover {
            background: var(--map-link-color-hover)
        }
    }
}

.row.guides {
    font-size: 22px
}

.guide {
    a {
        color: var(--accent-color) !important;
        text-decoration: none !important;

        &:hover {
            background-color: color-mix(in srgb, var(--accent-color), transparent 75%)
        }
    }
}

.games .card,
.guides .guide {
    background: var(--game-card-background-color)
}

#search-close,
#search-submit {
    background: transparent !important;
    border: 1px solid var(--border-color) !important;
    color: var(--text-color) !important;
    opacity: 1 !important
}

.filter-list {
    .filter {
        color: var(--text-color)
    }
}

.guide .check:checked:after,
.guide td .location-link {
    color: var(--text-color) !important
}