@font-face {
    font-family: Mantinia;
    font-style: normal;
    font-weight: 400;
    src: url(../../fonts/elden-ring/Mantinia-Regular.otf) format("opentype")
}

@font-face {
    font-family: Noto Sans;
    font-style: normal;
    font-weight: 400;
    src: url(../../fonts/kena-bridge-of-spirits/NotoSansRegular.woff2) format("woff2"), url(../../fonts/kena-bridge-of-spirits/NotoSansRegular.woff) format("woff"), url(../../fonts/kena-bridge-of-spirits/NotoSansRegular.ttf) format("truetype")
}

@font-face {
    font-family: Noto Sans;
    font-style: normal;
    font-weight: 700;
    src: url(../../fonts/kena-bridge-of-spirits/NotoSansBold.woff2) format("woff2"), url(../../fonts/kena-bridge-of-spirits/NotoSansBold.woff) format("woff"), url(../../fonts/kena-bridge-of-spirits/NotoSansBold.ttf) format("truetype")
}

:after,
:root {
    --text-color: #e4e4e5;
    --text-color-dark: var(--body-background);
    --accent-color: #c3b590;
    --border-color: var(--accent-color);
    --body-font-family: "Noto Sans";
    --title-font-family: "Mantinia";
    --title-font-size: 16px;
    --title-font-weight: normal;
    --title-font-color: var(--accent-color);
    --title-font-letter-spacing: 1px;
    --body-background: #1c2021;
    --navbar-logo-width: 80px;
    --map-link-color: color-mix(in srgb, var(--sidebar-background-color), #fff 15%);
    --map-link-color-hover: color-mix(in srgb, var(--map-link-color), transparent 5%);
    --map-link-color-selected: color-mix(in srgb, var(--map-link-color), transparent 10%);
    --hotkey-background-color: color-mix(in srgb, var(--text-color), transparent 85%);
    --social-icon-background: color-mix(in srgb, var(--sidebar-background-color), #000 40%);
    --social-icon-background-hover: color-mix(in srgb, var(--sidebar-background-color), #000 70%);
    --popup-background: color-mix(in srgb, var(--sidebar-background-color), transparent 1%);
    --popup-border-color: color-mix(in srgb, var(--sidebar-border-color), #000 50%);
    --popup-button-highlight-color: color-mix(in srgb, var(--sidebar-border-color), transparent 70%);
    --game-card-background-color: #0b0a06;
    --game-card-title-color: var(--accent-color);
    --game-card-title-color-hover: color-mix(in srgb, var(--accent-color), #000 50%);
    --series-card-title-background-color-hover: color-mix(in srgb, var(--game-card-background-color), transparent 75%);
    --guide-link-color: var(--accent-color);
    --guide-location-link-base-color: var(--map-link-color);
    --guide-table-row-hover-background: color-mix(in srgb, var(--map-link-color), transparent 80%);
    --checklist-filter-button-background-color: color-mix(in srgb, var(--sidebar-border-color), transparent 85%);
    --checklist-filter-select-background-color: color-mix(in srgb, var(--sidebar-border-color), transparent 85%)
}

#categories .category-item .title {
    font-size: 13px
}

#categories #category-item-5665 .title,
#categories #category-item-5722 .title,
.map-switcher-panel a.map-link {
    font-size: 12px
}

#marker-info a {
    color: var(--accent-color) !important;
    text-decoration: none !important
}

#marker-info a:hover {
    background-color: color-mix(in srgb, var(--accent-color), transparent 75%)
}

#logo-sidebar {
    margin: 0 auto
}

.btn-outline-secondary {
    background: var(--accent-color) !important;
    border: none !important;
    color: #000 !important;
    line-height: 1.4;
    padding-top: 7px
}

.btn-outline-secondary.disabled {
    background: transparent !important;
    border: 1px solid var(--accent-color) !important;
    color: #000 !important
}

.btn-track-category {
    background: var(--accent-color) !important;
    border: none !important;
    color: #000 !important;
    line-height: 1.4;
    padding-top: 7px
}

#search-close,
#search-submit {
    background: transparent !important;
    border: 1px solid var(--accent-color) !important;
    color: #fff !important;
    opacity: 1 !important
}

.add-tracked-category-form .btn-outline-secondary {
    background: var(--text-color) !important;
    border: none !important;
    color: #000 !important
}

#user-panel .btn-upgrade {
    font-size: 16px
}

.presets-panel {
    opacity: .9
}

.presets-item {
    border-radius: 2px
}

.presets-item .title {
    text-transform: uppercase
}

.filters-panel .custom-checkbox {
    cursor: pointer;
    line-height: 2.5rem;
    margin-left: .5rem;
    padding-left: 2rem;
    text-decoration: none !important
}

.filters-panel .custom-checkbox .custom-control-label:after,
.filters-panel .custom-checkbox .custom-control-label:before {
    height: 28px;
    left: -2.5rem;
    width: 28px
}

#mini-header.embed-light-nav button {
    background-color: var(--game-card-background-color) !important;
    color: var(--accent-color) !important
}

#mini-header.logged-in button {
    border: none !important;
    color: var(--accent-color) !important
}