@font-face {
    font-family: CrimsonPro;
    src: url("/fonts/CrimsonPro.woff2");
    format: ("woff2");
    font-display: swap;
}

@font-face {
    font-family: HyliaSerif;
    src: url("/fonts/HyliaSerif.otf");
    format: ("otf");
    font-display: swap;
}

@font-face {
    font-family: Mantinia;
    src: url("/fonts/Mantinia-Regular.otf");
    format: ("otf");
    font-display: swap;
}

@font-face {
    font-family: Mason;
    src: url("/fonts/Mason-Regular.ttf");
    format: ("ttf");
    font-display: swap;
}