@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: CrimsonPro;
  src: url("/fonts/CrimsonPro.woff2");
  format: ("woff2");
  font-display: swap;
}

@font-face {
  font-family: Mantinia;
  src: url("/fonts/Mantinia-Regular.otf");
  format: ("otf");
  font-display: swap;
}

@font-face {
  font-family: Noto Sans;
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/NotoSansRegular.woff2") format("woff2"), url("/fonts/NotoSansRegular.woff2") format("woff")
}

@font-face {
  font-family: Noto Sans;
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/NotoSansBold.woff2") format("woff2"), url("/fonts/NotoSansBold.woff2") format("woff")
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.icon {
  background: url(/markers/markers.png);
  display: inline-block;
  position: absolute;
  width: 33px;
  height: 44px;
  background-color: transparent !important;
}

.highlight {
  background-color: var(--accent-color);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.8) 5px 5px 8px 8px;
}

.note-icon-1 {
  background-position: 0 -352px;

}

.note-icon-2 {
  background-position: -33px -352px;
}

.note-icon-3 {
  background-position: -66px -352px;
}

.cerulean_scarab {
  background-position: -231px 0;
}

.easter_egg {
  background-position: -297px -44px;
}

.gesture {
  background-position: -297px -88px;
}

.golden_rune {
  background-position: -231px -88px;
}

.golden_seed {
  background-position: -396px -88px;
}

.item {
  background-position: -330px -132px;
}

.minor_erdtree {
  background-position: -132px -176px;
}

.miquellas_cross {
  background-position: -297px -176px;
}

.n_lily {
  background-position: -297px -176px;
}

.perfume_bottle {
  background-position: 0 -220px;
}

.quest {
  background-position: -99px -220px;
}

.rebirth_monument {
  background-position: -132px -220px;
}

.revered_spirit_ash {
  background-position: -297px -220px;
}

.ritual_pot {
  background-position: -231px -220px;
}

.rune_arc {
  background-position: -297px -220px;
}

.scadutree_fragment {
  background-position: -66px -264px;
}

.spirit_ashes {
  background-position: -330px -264px;
}

.stone_cairn {
  background-position: -66px -308px;
}

.stonesword_key {
  background-position: -99px -308px;
}

.summoning_sigil {
  background-position: -132px -308px;
}

.talisman {
  background-position: -165px -308px;
}

.talisman_pouch {
  background-position: -198px -308px;
}

.teardrop_scarab {
  background-position: -231px -308px;
}

.spiritspring_jump {
  background-position: 0 -308px;
}

.stake_of_marika {
  background-position: -33px -308px;
}

.tool {
  background-position: -264px -308px;
}

.whetblade {
  background-position: -99px -308px;
}

.trainer {
  background-position: -297px -308px;
}

.snake-head-mushroom,
.tree_pearl,
.fragrant_jade_flower,
.millenium_ginseng,
.nine_capped_lingzhi,
.purple_lingzhi,
.aged_ginseng,
.celestial_pear,
.fire_bellflower,
.jade_lotus,
.gentian,
.licorice {
  background-position: 0 0;
}

.armor {
  background-position: -33px 0;
}

.curio {
  background-position: -66px 0;
}

.sorcery,
.spell {
  background-position: -99px 0;
}

.weapon {
  background-position: -132px 0;
}

.somber_smithing_stone,
.ancient_smithing_stone {
  background-position: -198px 0;
}

.celestial_pill {
  background-position: 0 -44px;
}

.drink {
  background-position: -33px -44px;
}

.cookbook,
.formula {
  background-position: -66px -44px;
}

.awaken_wine_worm {
  background-position: -99px -44px;
}

.invasion,
.lesser_yaoguai {
  background-position: -132px -44px;
}

.enemy {
  background-position: -99px -88px;
}

.chest {
  background-position: -165px -44px;
}

.gourd {
  background-position: 0 -88px;
}

.keeper_shrine {
  background-position: -33px -88px;
}

.key_item {
  background-position: -66px -88px;
}

.yaoguai_chief {
  background-position: -132px -88px;
}

.demigod,
.yaoguai_king {
  background-position: -165px -88px;
}

.luojia_fragrant_vine {
  background-position: 0 -132px;
}

.meditation_spot {
  background-position: -33px -132px;
}

.miscellaneous {
  background-position: -66px -132px;
}

.npc {
  background-position: -99px -132px;
}

.easter_egg {
  background-position: -132px -132px;
}

.soak {
  background-position: 0 -176px;
}

.vessel {
  background-position: -33px -176px;
}

.spirit {
  background-position: -66px -176px;
}

.memory_stone {
  background-position: -198px -176px;
}

.merchant {
  background-position: -231px -176px;
}

.miquellas_lilly,
.trinas_lilly {
  background-position: -330px -176px;
}


.painting {
  background-position: -429px -176px;
}

.landmark,
.point_of_interest {
  background-position: -99px -176px;
}

.side_quest {
  background-position: -132px -176px;
}

.divine_tower {
  background-position: -330px -44px;
}

.dragon_heart {
  background-position: -363px -44px;
}

.sacred_tear,
.crystal_tear {
  background-position: -263px -44px;
}

.deathroot {
  background-position: -297px -44px;
}

.ghost {
  background-position: -330px -88px;
}

.dragon_shrine {
  background-position: -396px -44px;
}

.dungeon {
  background-position: -429px -44px;
}

.great_glovewort,
.glovewort,
.ghost_glovewort {
  background-position: -429px -88px;
}

.elevator {
  background-position: 0 -264px;
}

.shield {
  background-position: -99px -264px;
}

.evergaol {
  background-position: -264px -88px;
}

.elite_enemy {
  background-position: -198px -88px;
}

.hidden_passage {
  background-position: -231px -132px;
}

.lore {
  background-position: -363px -132px;
}

.guiding_statue {
  background-position: -198px -132px;
}

.imp_seal_statue {
  background-position: -264px -132px;
}

.incantation {
  background-position: -297px -132px;
}

.wandering_mausoleum,
.legacy_dungeon {
  background-position: 0 -220px;
}

.portal {
  background-position: -132px -220px;
}

.puzzle {
  background-position: -165px -220px;
}

.remembrance {
  background-position: -264px -220px;
}

.ruin_fragment {
  background-position: -363px -220px;
}

.spellbook {
  background-position: -264px -264px;
}

.birdseye_telescope {
  background-position: -264px -308px;
}

.map_fragment {
  background-position: -132px -176px;
}

.site_of_grace {
  background-position: -132px -264px;
}

.smithing_table {
  background-position: -231px -264px;
}

.bell_bearing {
  background-position: -264px 0;
}

.great_boss,
.boss {
  background-position: -330px 0;
}

.character {
  background-position: -396px 0;
}

.ash_of_war {
  background-position: -231px 0;
}

.cracked_pot {
  background-position: -198px -44px;
}

.great_rune {
  background-position: -165px -132px;
}

.elden-ring {
  --text-color: #e4e4e5;
  --accent-color: #c3b590;
  --title-font-color: var(--accent-color);
  --border-color: var(--accent-color);
  --sidebar-border-color: var(--border-color);
  --sidebar-background-color: #232423;
  --map-background: #14130f;
  --text-font-family: 'Mantinia';
  --body-font-family: "Noto Sans";
  --body-background: var(--sidebar-background-color);
}

.black-myth-wukong {
  --text-color: #deddda;
  --accent-color: #d3c0a3;
  --title-font-color: var(--accent-color);
  --border-color: #757259;
  --sidebar-border-color: var(--border-color);
  --sidebar-background-color: #090708;
  --map-background: #2b2b2b;
  --text-font-family: 'CrimsonPro';
  --body-font-family: "CrimsonPro";
  --body-background: var(--sidebar-background-color);
}

.MuiAccordionSummary-content {
  align-items: center;
  color: var(--text-color)
}

@layer base {
  :root {
    --app-background: #11151C;
    --marker-tooltip-background: var(--sidebar-background-color);
    --search-result-hover-color: hsla(0, 0%, 100%, .05);
  }
}