@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap);

@font-face {
    font-family: Hylia;
    font-style: normal;
    font-weight: 400;
    src: url(../../fonts/zelda-links-awakening/HyliaSerifBeta-Regular.otf) format("opentype")
}

:after,
:root {
    --text-color: #f8f6e0;
    --text-color-dark: #000810;
    --accent-color: #cab586;
    --border-color: var(--accent-color);
    --body-font-family: "Open Sans", sans-serif, "sans-serif";
    --title-font-family: "Hylia";
    --category-font-size: 13px;
    --title-font-size: 24px;
    --title-font-weight: normal;
    --title-font-color: var(--text-color);
    --title-font-letter-spacing: 1px;
    --title-font-text-transform: none;
    --user-panel-title-size: 18px;
    --map-background: #000;
    --sidebar-background: var(--sidebar-background-color) url(../../images/games/zelda-tears-of-the-kingdom/background.jpg);
    --sidebar-background-color: #231d1b;
    --sidebar-subtitle-size: 16px;
    --map-link-color: color-mix(in srgb, var(--accent-color), #000 10%);
    --map-link-color-hover: color-mix(in srgb, var(--map-link-color), transparent 75%);
    --map-link-color-selected: color-mix(in srgb, var(--map-link-color), transparent 90%);
    --social-icon-background: color-mix(in srgb, var(--text-color), transparent 90%);
    --social-icon-background-hover: color-mix(in srgb, var(--text-color), transparent 80%);
    --popup-background: color-mix(in srgb, var(--sidebar-background-color), transparent 1%);
    --popup-border-color: hsla(0, 0%, 78%, .4);
    --popup-button-highlight-color: color-mix(in srgb, var(--sidebar-border-color), transparent 90%);
    --modal-border-color: var(--text-color);
    --upgrade-button-text-color: #fff;
    --upgrade-option-background-color-hover: color-mix(in srgb, var(--text-color), transparent 90%);
    --upgrade-option-background-color-selected: color-mix(in srgb, var(--text-color), transparent 70%);
    --game-card-background-color: #f7f0dd;
    --game-card-title-color: #000;
    --game-card-title-color-hover: #000;
    --series-card-title-color: var(--game-card-background-color);
    --series-card-title-background-color-hover: color-mix(in srgb, var(--game-card-background-color), transparent 75%);
    --guide-table-row-hover-background: color-mix(in srgb, var(--map-link-color), transparent 55%);
    --guide-table-row-target-background: color-mix(in srgb, var(--map-link-color), transparent 45%)
}

#marker-info {
    a {
        color: var(--accent-color) !important
    }
}

#left-sidebar {
    .subtitle {
        font-family: var(--title-font-family), sans-serif;
        margin-bottom: 10px
    }
}

#region-panel-collapse {
    position: relative
}

.switcher-expander.expanded:after {
    margin-right: 8px
}

.btn-upgrade {
    background-color: var(--accent-color) !important;
    border: none !important;
    color: var(--text-color) !important;
    font-size: 18px;
    padding: 12px
}

#user-panel hr,
.region-panel-toolbar-content hr,
.sidebar hr {
    background: url(../../images/games/zelda-tears-of-the-kingdom/divider.png) repeat;
    background-size: contain;
    border: 0 transparent;
    flex: 0 0 5px;
    height: 5px
}

.guide {
    a {
        color: var(--accent-color) !important;
        text-decoration: none !important;

        &:hover {
            background-color: color-mix(in srgb, var(--accent-color), transparent 75%)
        }
    }
}

@media (max-width:767.98px) {
    .region-panel-toolbar-content hr {
        flex: 1 0 5px
    }
}